body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
    font-size: 25px;
}

.side-nav {
    padding-top: 10px;
}

table {
    margin-bottom: 20px;
}

.story-text {
    height: 120px;
}

.dash-status {
    text-transform: capitalize;
}

#delete-form {
    display: inline;
}

.custom-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.custom-btn:hover{
    background-color: cyan;
}